<!doctype html>
<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>Storj</title>
    </head>
    <body>
    	<p>An error was encountered:</p>
        <p>{{error_msg}}</p>
        <p><button id="close">Return to Storj.io</button></p>
    </body>
    <script>
    document.getElementById("close").onclick = function() {
        window.close();
    }
    </script>
</html>